<style>
    .ai-tools-explored-card {
    transition: all 0.3s;
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ai-tools-explored-card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  .card-link-icon {
    display:none;
    position: relative;
    float:right;
    right: -24px;
    top: -20px;
    height: 32px;
    width: 32px;
    background-color: #008054;
    color: white;
    font-size: 12px;
    border-radius: 50%;
  }
  .ai-tools-explored-card:hover .card-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ai-tools-explored .tags-slot {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .ai-tools-explored .tag {
    padding: 8px 12px;
    margin: 8px 8px 0 0;
    background: lightgrey;
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.75); /* 75% opacity */
  }
  .ai-tools-explored-slot1 {
    display: block;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
  }
  .ai-tools-explored-slot3 {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    text-decoration: none;
  }
</style>
<div onclick="window.open('{{ include.toolLink }}', '_blank');"  class="ai-tools-explored-card">
  <div>
    <div class="card-link-icon"><i class="fas fa-external-link-alt"></i></div>
    <h4 class="ai-tools-explored-slot1">{{ include.toolName }}</h4>
    <div class="tags-slot">
      {% assign toolTagsArray = include.toolTags | split: ',' %}
      {% for tag in toolTagsArray %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  <a class="ai-tools-explored-slot3" target="_blank" onclick="event.stopPropagation();" href="{{ include.explorationsLink }}" > Explorations by {{ include.authorName }} <i class="fas fa-link"></i></a>
</div>