<div class="updates">
    {%- for link in site.data.updates.main -%}


    {% if link.active == "yes" %}

    <div class="updates_grid__item">
        <article class="updates__item" itemscope itemtype="https://schema.org/CreativeWork">
            <div class="updates_holder">


                {% if link.teaser %}

                <div class="updates__item-teaser updates_teaser_linked" style='background-image: 
          url({% if link.teaser contains "://" %}
              {{ link.teaser }}
            {% else %}
              {{ link.teaser | relative_url }}
            {% endif %});'>
                </div>

                {% else %}

                <div class="updates__item-teaser updates_teaser_linked" style='background-image: 
          url( /assets/img/publications/icon-pub-placeholder.jpg);'>
                </div>


                {% endif %}

                <div class="updates_text">

                    {% if link.fullpage == "yes" %}
                    <h1 class="updates__item-title" itemprop="headline">
                        {% if link.link %}
                        <a class="updates_linked" href="{{ link.link }}">{{ link.title }}</a>

                        {% else %}
                        <a class="updates_linked" href="{{ link.url | relative_url }}" rel="permalink">{{ link.title }}</a>
                        {% endif %}
                    </h1>

                    {% else %}
                    <h1 class="updates__item-title" itemprop="headline">

                        <a>{{ link.title }}</a>

                    </h1>

                    {% endif %}

                    <h2 class="updates__item-subtitle" itemprop="headline">
                        {{ link.date }}
                    </h2>

                    <h1 class="updates__item-title">
                        {{ link.content }}
                    </h1>

                </div>

            </div>
        </article>
    </div>

    {% endif %}
    {% endfor %}
</div>
