---
---

<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
  </head>

  <body style="padding: 0px; margin: 0px; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    {% include scripts.html %}
      {% include open-embed.html %}
  </body>
</html>
