<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: " en" }}" class="no-js">

<head>
</head>

<body>

  <div style="padding: 0px; margin: 0px; position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

    <!-- VR 360 images go here -->

    <a-scene loading-screen="dotsColor: white; backgroundColor: #008055;" class="" embedded
      style="margin:0px; padding:0px;" vr-mode-ui="enterVRButton: #myEnterVRButton; enterARButton: #myEnterARButton">

      <!-- VR Button -->
      <a id="myEnterVRButton" href="#">
        <div id="VRButton">
          <i class="fas fa-expand"></i>
          <i class="fas fa-vr-cardboard"></i>
        </div>
      </a>
      <a id="myEnterARButton" href="#"></a>

      <!-- 360-degree image. -->
      <a-entity rotation="0 -90 0" animation="property: rotation; to: 0 270 0; loop: true; dur: 500000; easing: linear">
        <a-sky src="https://imxd.in/assets/img/projects/2022/design4vr_2022.jpg"></a-sky>
      </a-entity>
    </a-scene>

    <div class="vr_overlay">
      <img src="/assets/img/360/360_icon.png">
    </div>


  </div>

</body>

</html>