---
layout: projectspage
---

{{ content }}


    <div class = "publications"> 
    <h1 id = "publications" class = "page__title" >Publications</h1>
    </div>

    
    <div class="selected-publications">
        {% include documents-collection-publications.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>
  

    <div class = "publications" style="margin-top: 80px;"> 
    <h1 id = "activities" class = "page__title" >Activities</h1>
    </div>

    <div class="selected-publications">
        {% include documents-collection-activities.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>

