---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}


<div id="main" role="main" style="margin-top: 0.5em;">
<div>
</div>
    <div id = "stereo360" style="float: right; margin-top: 0em; margin-bottom: 1em;"></div>
    <div class="projects" style="margin-top: 1em;">

        {{ content }}
    </div>

</div>

