---
layout: showcasepage
---

{{ content }}

<div class="vr_home">

    <!-- VR 360 images go here -->

    <a-scene loading-screen="dotsColor: white; backgroundColor: #008055;" class="" embedded style="margin:0px; padding:0px;" vr-mode-ui="enterVRButton: #myEnterVRButton; enterARButton: #myEnterARButton" >

          <a id="myEnterVRButton" href="#">
            <div id="VRButton">
              <i class="fas fa-expand"></i>
              <i class="fas fa-vr-cardboard"></i>
            </div>
          </a>
          <a id="myEnterARButton" href="#"></a>

        <a-assets>
            <!-- Images. -->
            <img id="vr2021" src="{{ site.baseurl }}/assets/img/360/DE677_Autumn2021_L.jpg">
        </a-assets>

        <!-- 360-degree image. -->
        <a-entity rotation="0 0 0" animation="property: rotation; to: 0 360 0; loop: true; dur: 500000; easing: linear">
            <a-sky class="ARcarousel" id="image-360" radius="100" rotation="0 -90 0" src="#vr2021"></a-sky>
            <!-- <a-image width="1" height="1" position="0 2 -5" rotation="0 0 0" src="#dragonfly_label"></a-image> -->
        </a-entity>
    </a-scene>
    
    <div class = "vr_overlay">  
    <img src="/assets/img/360/360_icon.png">
    </div>

</div>


<div>
    <h1 id="page-title" class="page__title" style="margin-bottom: 10px;">Design for VR - Project Showcase 2021</h1>
    <p>Here presented are the outcomes from the course DE677: Design for Virtual Reality (Autumn Semester 2021)
    </p>

    <h2>Browse Projects:</h2>

    <div class="button-group filter-button-group">
        <a class="filter-button filter-button-active" data-filter="*">All</a>
        <a class="filter-button" data-filter=".AR">AR</a>
        <a class="filter-button" data-filter=".VR">VR</a>
        <a class="filter-button" data-filter=".Unity">Unity</a>
        <a class="filter-button" data-filter=".WebXR">WebXR</a>

    </div>

</div>

<br>

<div class="all-projects">
    {% include documents-collection-projects-2021.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>


<script>
    // init Isotope
    var $grid = $('.all-projects').isotope({
        itemSelector: '.course_project_grid__item',
        percentPosition: true,

        layoutMode: 'fitRows',
        fitRows: {
            gutter: 10
        }

    });
    // filter items on button click
    $('.filter-button-group').on('click', 'a', function() {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({
            filter: filterValue
        });
    });
    $('.button-group a.filter-button').on('click', function() {
        $('.button-group a.filter-button').removeClass('filter-button-active');
        $(this).addClass('filter-button-active');
    });

</script>
