---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div class="vr_home">

    <!-- VR 360 images go here -->

    <a-scene loading-screen="dotsColor: white; backgroundColor: #008055;" class="" embedded
        style="margin:0px; padding:0px;" vr-mode-ui="enterVRButton: #myEnterVRButton; enterARButton: #myEnterARButton">

        <a id="myEnterVRButton" href="#">
            <div id="VRButton">
                <i class="fas fa-expand"></i>
                <i class="fas fa-vr-cardboard"></i>
            </div>
        </a>
        <a id="myEnterARButton" href="#"></a>

        <a-assets>
            <!-- Images. -->
            <img id="dragonfly" src="{{ site.baseurl }}/assets/img/360/360_Dragonfly.jpg">
            <img id="dragonfly_label" src="{{ site.baseurl }}/assets/img/360/360_Dragonfly_Label.png">

            <img id="course" src="{{ site.baseurl }}/assets/img/360/360_Course.jpg">
            <img id="course_label" src="{{ site.baseurl }}/assets/img/360/360_Course_Label.png">

            <img id="illustration1" src="{{ site.baseurl }}/assets/img/360/360_Illustration_Navaneeth.jpg">
            <img id="illustration_label1" src="{{ site.baseurl }}/assets/img/360/360_Illustration_Label1.png">

            <img id="illustration2" src="{{ site.baseurl }}/assets/img/360/360_Illustration_Muskan.jpg">
            <img id="illustration_label2" src="{{ site.baseurl }}/assets/img/360/360_Illustration_Label2.png">

            <img id="label1" src="{{ site.baseurl }}/assets/img/360/360_Generic_Label.png">

            <img id="commonlabel" src="{{ site.baseurl }}/assets/img/360/360_imxd_icon.png">

        </a-assets>

        <!-- 360-degree image. -->
        <a-entity rotation="0 0 0" animation="property: rotation; to: 0 360 0; loop: true; dur: 500000; easing: linear">
            <a-sky class="ARcarousel" id="image-360" radius="100" rotation="0 -90 0" src="#dragonfly"></a-sky>
            <a-image width="1" height="1" position="0 2 -5" rotation="0 0 0" src="#dragonfly_label"></a-image>
        </a-entity>
    </a-scene>

    <div class="vr_overlay">
        <i class='fas fa-angle-left'
            style='position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.3); top: -425%; transition: color 0.2s;'
            onmouseover="style='cursor:pointer; opacity:0.8; position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.8); top: -425%; transition: color 0.2s;'"
            onmouseout="style='opacity:0.8; position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.3); top: -425%; transition: color 0.2s;'"
            onmousedown="GoLeft()"></i>
        <i class='fas fa-angle-right'
            style='position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.3); top: -425%; right: 3px; transition: color 0.2s;'
            onmouseover="style='cursor:pointer; opacity:0.8; position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.8); top: -425%; right: 3px; transition: color 0.2s;'"
            onmouseout="style='opacity:0.8; position:absolute; font-size:48px; color:rgba(255, 255, 255, 0.3); top: -425%; right: 3px; transition: color 0.2s;'"
            onmousedown="GoRight()"></i>
        <img src="/assets/img/360/360_icon.png">
    </div>

</div>

<div id="main" role="main" style="margin-top: 0px;">

    {% include sidebar.html %}

    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}
        <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}
        {% if page.excerpt %}
        <meta itemprop="description"
            content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
        {% if page.last_modified_at %}
        <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

        <div class="page__inner-wrap">
            <section class="page__content" itemprop="text">
                {{ content }}
                {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{
                        site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
            </section>
            <footer class="page__meta">
                {% if site.data.ui-text[site.locale].meta_label %}
                <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
                {% endif %}
                {% include page__taxonomy.html %}
            </footer>
        </div>
    </article>

</div>


<div style="background: #f5f5f5; padding-top: 20px;">

    <div id="main" role="main" style="margin: 0px auto;">
        <div class="projects" style="margin-top: 10px;">
            <h1 id="page-title" class="page__title">Featured Projects</h1>
        </div>

        <div class="selected-projects" style="width:100%;">

            {% include documents-collection-projects-homepage.html collection="projects" sort_by=page.sort_by
            sort_order=page.sort_order type=page.entries_layout %}

        </div>




    </div>

    <div id="main" role="main" style="margin-top: 0px; padding-bottom: 40px;">

        <div class="home-button">

            <a class="home-button" href="{{ site.baseurl }}/projects">All Projects  →</a>
            <a href="{{ site.baseurl }}/publications">All Publications  →</a>
            <a href="{{ site.baseurl }}/activities">All Activities  →</a>

        </div>


    </div>



</div>


<div id="main" role="main" style="margin-top: 0px; margin-bottom: 0px;">
    <div class="two-column-container">
        <div class="column-left">
            <div class="publications" style="margin-top: 30px;">
                <h1 id="page-title" class="page__title">Updates</h1>
            </div>

            <div class="selected-updates" style="margin-top: 0px;">
                {% include updates-homepage.html %}
            </div>
            <div class="home-button" style="margin-bottom: 30px;">
                <a href="{{ site.baseurl }}/blog">All Updates →</a>
            </div>

        </div>

        <div class="column-right">
            <div class="publications" style="margin-top: 30px;">
                <h1 id="page-title" class="page__title">Courses</h1>
            </div>

            <div class="selected-updates" style="margin-top: 0px;">
                {% include updates-courses-homepage.html %}
            </div>

            <div class="home-button" id="inactive" style="margin-bottom: 30px;">
                <span id="disabled">All Courses →</span>
            </div>
        </div>
    </div>

</div>


<script>
    var slideIndex = 0;
    ARcarousel();

    function ARcarousel() {
        var p = document.querySelector('a-sky');
        var q = document.querySelector('a-image');

        slideIndex++;

        if (slideIndex > 4) {
            slideIndex = 1;
        }

        setUpCarousel();

        setTimeout(ARcarousel, 7000); // Change image every few seconds
    }

    function GoLeft() {
        slideIndex--;

        if (slideIndex < 1) {
            slideIndex = 4;
        }

        setUpCarousel();
    }

    function GoRight() {
        slideIndex++;

        if (slideIndex > 4) {
            slideIndex = 1;
        }

        setUpCarousel();
    }

    function setUpCarousel() {
        var p = document.querySelector('a-sky');
        var q = document.querySelector('a-image');

        if (slideIndex == 1) {
            p.setAttribute('src', '#illustration2');
            q.setAttribute('src', '#illustration_label2');
            q.setAttribute('width', '8.40');
            q.setAttribute('height', '2');
            q.setAttribute('position', '0 3 -12');
        } else
            if (slideIndex == 2) {
                p.setAttribute('src', '#course');
                q.setAttribute('src', '#course_label');
                q.setAttribute('width', '9');
                q.setAttribute('height', '2.5');
                q.setAttribute('position', '0 2.5 -12');
            } else
                if (slideIndex == 3) {
                    p.setAttribute('src', '#dragonfly');
                    q.setAttribute('src', '#dragonfly_label');
                    q.setAttribute('width', '11.14');
                    q.setAttribute('height', '6');
                    q.setAttribute('position', '0 7 -12');
                } else
                    if (slideIndex == 4) {
                        p.setAttribute('src', '#illustration1');
                        q.setAttribute('src', '#illustration_label1');
                        q.setAttribute('width', '8.40');
                        q.setAttribute('height', '2');
                        q.setAttribute('position', '0 3.5 -12');
                    }
    }

</script>