/* ==========================================================================
   blog
   ========================================================================== */

.blog {

    margin-top: 120px;
    margin-bottom: 2em;

    @include breakpoint($large) {}

    @include breakpoint($x-large) {}
}



.blog_item {

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
    grid-row-gap: 2em;


    h2 {
        font-size: $type-size-5;
        font-weight: bold;

    }

    h3 {

        font-size: $type-size-6;
        font-style: italic;
    }

    p {

        font-size: $type-size-6;

    }

}


.blog_item_teaser-container {
    border-radius: $border-radius*1.5;
    position: relative;
    overflow: hidden;
    height: 200px;
}

.blog_item_teaser {
    height: 200px;
    position: relative;
    border-radius: $border-radius*1.5;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.4s, transform 0.4s;
}


.blog_item_teaser:hover {
//     -webkit-filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(100deg) saturate(200%);
//    filter: grayscale(100%) brightness(60%) sepia(100%) hue-rotate(100deg) saturate(200%);
    background-position: center;
    transform: scale(1.1);
}

.blog_item_content {
    margin-bottom: 2em;
    position: relative;
    height: 200px;

}

.blog_tags {

    position: absolute;
    bottom: 0;

}


@media only screen and (max-width: 600px) {

    .blog_item {

        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }

    .blog_item_content {

        height: auto;

    }

    .blog_tags {

        position: relative;

    }

}
