//SELECTED PROJECTS GRID LAYOUT - END

//MANHOLE PROJECTS GRID LAYOUT - START

.project_grid__item-selected-manhole {


    margin-bottom: 1em;

    float: left;
    width: span(1 of 1);

    &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;

    }

    &:nth-child(2n + 2) {
        clear: both;
        margin-left: 0;

    }

    @include breakpoint($small) {
        float: left;
        width: span(5 of 10);

        &:nth-child(2n + 1) {
            clear: both;
            margin-left: 0;

        }

        &:nth-child(2n + 2) {
            clear: none;
            margin-left: gutter(of 10);

        }
    }

    @include breakpoint($medium) {
        margin-left: 0;
        margin-right: 0;

        width: span(2 of 6);

        &:nth-child(3n + 1) {
            clear: none;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(1 of 12);
        }


        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(1 of 12);
            margin-right: 0;
        }


    }


    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }

    .projects__item-title {
        margin-top: 0.5em;
        font-size: $type-size-7;
    }

    .projects__item-excerpt {
        //display: none;
        font-size: $type-size-8;

        @include breakpoint($medium) {
            display: block;
            font-size: $type-size-8;
        }
    }

    .projects__item-teaser {

        aspect-ratio: 1 / 1;
    }



}

//MANHOLE PROJECT GRID LAYOUT - END



//CHANGE PROJECT TITLE TEXT FOR PHONES HERE

@media only screen and (max-width: 600px) {
    .project_grid__item-selected {
        .projects__item-title {
            font-size: $type-size-6;

        }

        .projects__item-excerpt {
            font-size: $type-size-6;

        }
    }
    
    .project_grid__item-selected-homepage {
        .projects__item-title {
            font-size: $type-size-6;

        }

        .projects__item-excerpt {
            font-size: $type-size-6;

        }
    }
    
    .project_grid__item {
        .projects__item-title {
            font-size: $type-size-6;

        }

        .projects__item-excerpt {
            font-size: $type-size-6;

        }
    }

}

/*
   Features
   ========================================================================== */

.feature__wrapper {
    @include clearfix();
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;

    .projects__item-title {
        margin-bottom: 0;
    }
}

.feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1.125em;

    @include breakpoint($small) {
        float: left;
        margin-bottom: 0;
        width: span(4 of 12);

        &:nth-child(3n + 1) {
            clear: both;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(of 12);
        }

        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(of 12);
        }

        .feature__item-teaser {
            max-height: 200px;
            overflow: hidden;
        }
    }

    .projects__item-body {
        padding-left: gutter(1 of 12);
        padding-right: gutter(1 of 12);
    }

    a.btn::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &--left {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .projects__item {
            float: left;
        }

        .projects__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            .projects__item-teaser {
                float: left;
                width: span(5 of 12);
            }

            .projects__item-body {
                float: right;
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
                width: span(7 of 12);
            }
        }
    }

    &--right {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .projects__item {
            float: left;
        }

        .projects__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: right;

            .projects__item-teaser {
                float: right;
                width: span(5 of 12);
            }

            .projects__item-body {
                float: left;
                width: span(7 of 12);
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
            }
        }
    }

    &--center {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .projects__item {
            float: left;
            width: 100%;

        }

        .projects__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: center;

            .projects__item-teaser {
                margin: 0 auto;
                width: span(5 of 12);
            }

            .projects__item-body {
                margin: 0 auto;
                width: span(7 of 12);
            }
        }
    }
}

/* Place inside an projects layout */

.projects {
    .feature__wrapper {
        .projects__item-title {
            margin-top: 0.25em;
            font-size: 1em;
        }
    }

    .feature__item,
    .feature__item--left,
    .feature__item--center,
    .feature__item--right {
        font-size: 1em;
    }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
    .projects {
        @include breakpoint($large) {
            padding-right: 0;
        }

        @include breakpoint($x-large) {
            padding-right: 0;
        }
    }
}

/* Place inside a single layout */

.layout--single {
    .feature__wrapper {
        display: inline-block;
    }
}

/* For Manhole page background */

.layout--manholeprojectcollection {
        background-color: #f7ecea;
}

.scroll-links{
    font-size: .8em;
    scroll-margin-top: 1000px;
    scroll-behavior: smooth;
}