/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0;
//border-bottom: 1px solid $border-color;
  //-webkit-animation: $intro-transition;
  //animation: $intro-transition;
  //-webkit-animation-delay: 0.15s;
  //animation-delay: 0.15s;
  z-index: 20;
  background-color: #f5f5f5;
width: 100%;
  &__inner-wrap {
    max-width: $medium-wide;
    background-color: #f5f5f5;

    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

      
    @include breakpoint($x-large) {
      //max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;

}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 500;
  z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {

  float: right;
  margin-left: 0;
  margin-right: 0;
  margin: 0px;
  width: 100%;
  //height: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0px;
    padding: 0px;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
