/* ==========================================================================
   people
   ========================================================================== */

.people {

    margin-top: 0px;
    margin-bottom: 2em;

    @include breakpoint($large) {}

    @include breakpoint($x-large) {}
}

.people__item {
    position: relative;

    a {
        position: relative;
        z-index: 10;
        color: $text-color;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }


    }

    a[rel="permalink"] {
        position: static;
    }
}

.people__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: $type-size-5;
    color: $muted-text-color;
    border-bottom: 1px solid $border-color;

    + .list__item .people__item-title {
        margin-top: 0.5em;
    }
}

.people__item-title {
    margin-bottom: 0.25em;
    font-family: $sans-serif-narrow;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;


    a[rel="permalink"]::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: $secondary-color;
    }

    a + a {
        opacity: 0.5;
    }
}

.page__content {
    .people__item-title {
        margin-top: 2em;
        border-bottom: none;

        a {
            text-decoration: none;
        }



    }
}

.people__item-excerpt {
    margin-top: 0;
    font-size: $type-size-6;

    & + p {
        text-indent: 0;
    }

    a {
        position: relative;
    }
}

.people__item-teaser {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.people__item-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 5px;
    color: #fff;
    font-family: $caption-font-family;
    font-size: $type-size-8;
    background: #000;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: $border-radius 0 0 0;

    @include breakpoint($large) {
        padding: 5px 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

/*
   List view
   ========================================================================== */

.list__item {
    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }
}

/*
   people_grid view
   ========================================================================== */

.people {
    .people_grid__wrapper {
        /* extend people_grid elements to the right */

        @include breakpoint($large) {
            margin-right: -1 * $right-sidebar-width-narrow;
        }

        @include breakpoint($x-large) {
            margin-right: -1 * $right-sidebar-width;
        }
    }
}

.people_grid__item_4 {



    margin-bottom: 1em;

    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;

    }

    &:nth-child(2n + 2) {
        clear: none;
        margin-left: gutter(of 10);

    }

    @include breakpoint($small) {
        float: left;
        width: span(5 of 10);

        &:nth-child(2n + 1) {
            clear: both;
            margin-left: 0;

        }

        &:nth-child(2n + 2) {
            clear: none;
            margin-left: gutter(of 10);

        }
    }


    @include breakpoint($medium) {
        margin-left: 0;
        margin-right: 0;

        width: span(2 of 8);


        &:nth-child(2n + 1) {
            clear: none;
        }

        &:nth-child(4n + 1) {
            clear: both;
        }

        &:nth-child(4n + 2) {
            clear: none;
            margin-left: gutter(1 of 12);
        }

        &:nth-child(4n + 3) {
            clear: none;
            margin-left: gutter(1 of 12);
        }

        &:nth-child(4n + 4) {
            clear: none;
            margin-left: gutter(1 of 12);
        }




    }

    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }

    .people__item-title {
        margin-top: 0.5em;
        font-size: $type-size-7;
    }

    .people__item-excerpt {
        font-size: $type-size-8;

        @include breakpoint($medium) {
            display: block;
            font-size: $type-size-8;
        }
    }

    .people__item-teaser {

        height: 20vh;


        @include breakpoint($small) {

            height: 250px;
        }

        @include breakpoint($medium) {
            height: 200px;
        }


    }



}

.people_grid__item_3 {



    margin-bottom: 1em;

    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;

    }

    &:nth-child(2n + 2) {
        clear: none;
        margin-left: gutter(of 10);

    }

    @include breakpoint($small) {
        float: left;
        width: span(5 of 10);

        &:nth-child(2n + 1) {
            clear: both;
            margin-left: 0;

        }

        &:nth-child(2n + 2) {
            clear: none;
            margin-left: gutter(of 10);

        }
    }

    @include breakpoint($medium) {
        margin-left: 0;
        margin-right: 0;

        width: span(2 of 6);

        &:nth-child(3n + 1) {
            clear: none;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(1 of 12);
        }


        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(1 of 12);
            margin-right: 0;
        }




    }

    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }

    .people__item-title {
        margin-top: 0.5em;
        font-size: $type-size-7;
    }

    .people__item-excerpt {
        font-size: $type-size-8;

        @include breakpoint($medium) {
            display: block;
            font-size: $type-size-8;
        }
    }

    .people__item-teaser {

       height: 30vh;


        @include breakpoint($small) {

            height: 250px;
        }

        @include breakpoint($medium) {
            height: 200px;
        }

    }



}

/*
   Features
   ========================================================================== */

.feature__wrapper {
    @include clearfix();
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;

    .people__item-title {
        margin-bottom: 0;
    }
}

.feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1.125em;

    @include breakpoint($small) {
        float: left;
        margin-bottom: 0;
        width: span(4 of 12);

        &:nth-child(3n + 1) {
            clear: both;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(of 12);
        }

        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(of 12);
        }

        .feature__item-teaser {
            max-height: 200px;
            overflow: hidden;
        }
    }

    .people__item-body {
        padding-left: gutter(1 of 12);
        padding-right: gutter(1 of 12);
    }

    a.btn::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &--left {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .people__item {
            float: left;
        }

        .people__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            .people__item-teaser {
                float: left;
                width: span(5 of 12);
            }

            .people__item-body {
                float: right;
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
                width: span(7 of 12);
            }
        }
    }

    &--right {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .people__item {
            float: left;
        }

        .people__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: right;

            .people__item-teaser {
                float: right;
                width: span(5 of 12);
            }

            .people__item-body {
                float: left;
                width: span(7 of 12);
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
            }
        }
    }

    &--center {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .people__item {
            float: left;
            width: 100%;

        }

        .people__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: center;

            .people__item-teaser {
                margin: 0 auto;
                width: span(5 of 12);
            }

            .people__item-body {
                margin: 0 auto;
                width: span(7 of 12);
            }
        }
    }
}

.people {
    .feature__wrapper {
        .people__item-title {
            margin-top: 0.25em;
            font-size: 1em;
        }
    }

    .feature__item,
    .feature__item--left,
    .feature__item--center,
    .feature__item--right {
        font-size: 1em;
    }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
    .people {
        @include breakpoint($large) {
            padding-right: 0;
        }

        @include breakpoint($x-large) {
            padding-right: 0;
        }
    }
}

/* Place inside a single layout */

.layout--single {
    .feature__wrapper {
        display: inline-block;
    }
}


/* The Modal (background) */
.people-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.people-modal-content {

    position: absolute;
    z-index: 10000;
    /* Sit on top */

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    //margin: 20% 20%; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    min-width: 480px;

    //height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //width: 40%; /* Could be more or less, depending on screen size */
}

.modal-left {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0px;
    padding-right: 20px;

}

.modal-right {

    width: 100%;
}

@media only screen and (max-width: 500px) {

    .people-modal-content {

        width: 80%;
        flex-direction: column;
        min-width: 120px;

    }

    .modal-left {

        padding-right: 0px;
        padding-bottom: 10px;

    }


}

/* The Close Button */
.people-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.people-close:hover,
.people-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.people__icon {

    color: $primary-color;

}

/* Custom CSS for Past Members */

.pastmembergrid{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 1em;
}

.pastmemberholder {

    //width: 140px;
    //height: 180px;
//    float: left;
//    font-size: medium;
    
    
    
}

.pastmemberitem {

    //width: 100px;

    img {
        //max-width: 100px;
        border-radius: 5px;
        max-height: 150px;
    }

    h2 {
        color: $text-color;
        text-decoration: none;
        font-weight: bold;
        font-size: $type-size-7;   
    
    
        &:hover{
            color: $primary-color;
        }
    
    }
    
    
    a{
        color: $primary-color;
    }
    
    .people__item-teaser {

        height: 20vh;


        @include breakpoint($small) {

            height: 10vh;
        }

        @include breakpoint($medium) {
            height: 150px;
        }

    }



}


.people-header{
    
    height: 30vh;


        @include breakpoint($small) {

            height: 250px;
        }

        @include breakpoint($medium) {
            height: 200px;
        }
    
}
