/* ==========================================================================
   updates
   ========================================================================== */

.updates {

    margin-bottom: 2em;

    @include breakpoint($large) {}

    @include breakpoint($x-large) {}
}

.updates__item {
    position: relative;

    a {
        position: relative;
        z-index: 10;
        color: $text-color;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }

    a[rel="permalink"] {
        position: static;
    }
}

.updates__subtitle {
    margin: 1.414em 0 0;
    padding-bottom: 0.5em;
    font-size: $type-size-5;
    color: $muted-text-color;
    border-bottom: 1px solid $border-color;

    + .list__item .updates__item-title {
        margin-top: 0.5em;
    }
}

.updates__item-title {
    margin-bottom: 0.25em;
    font-family: $sans-serif-narrow;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;


    a[rel="permalink"]::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: $secondary-color;
    }

    a + a {
        opacity: 0.5;
    }
}

.page__content {
    .updates__item-title {
        margin-top: 2em;
        border-bottom: none;

        a {
            text-decoration: none;
        }



    }
}

.updates__item-excerpt {
    margin-top: 0;
    font-size: $type-size-6;

    & + p {
        text-indent: 0;
    }

    a {
        position: relative;
    }
}

.updates__item-teaser {
    position: relative;
    border-radius: $border-radius*1.5;
    overflow: hidden;
    filter: grayscale(1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.updates__item-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 2px 5px;
    color: #fff;
    font-family: $caption-font-family;
    font-size: $type-size-8;
    background: #000;
    text-align: right;
    z-index: 5;
    opacity: 0.5;
    border-radius: $border-radius 0 0 0;

    @include breakpoint($large) {
        padding: 5px 10px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}


a.updates_linked {
    color: $primary-color;
}

.updates_teaser_linked {
    filter: grayscale(0.5);
    background-size: 100%;
    transition: filter .4s, background-size .4s;
}


.updates_holder:hover .updates_teaser_linked {
    filter: grayscale(0);
    background-size: 120%;
}

/*
   List view
   ========================================================================== */

.list__item {
    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }
}

/*
   updates_grid view
   ========================================================================== */

.updates {
    .updates_grid__wrapper {
        @include breakpoint($large) {
            margin-right: -1 * $right-sidebar-width-narrow;
        }

        @include breakpoint($x-large) {
            margin-right: -1 * $right-sidebar-width;
        }
    }
}


.updates_holder {
    width: 100%;
    min-height: 100px;
    margin: 2em 0em;

}

.updates_grid__item {

    margin-bottom: 1em;
    width: 100%;



    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }

    .updates__item-title {
        margin-top: 0.5em;
        font-size: $type-size-6;
    }

    .updates__item-subtitle {
        margin-top: 0.1em;
        font-size: $type-size-8;
        color: $secondary-text-color;
    }

    .updates__item-venue {
        margin-top: 0.7em;
        font-size: $type-size-8;
    }

    .updates__item-links {
        margin-top: 0.7em;
        font-size: $type-size-8;
        color: $primary-color;

    }

    .updates__item-excerpt {
        font-size: $type-size-8;

        @include breakpoint($medium) {}
    }

    .updates__item-teaser {

        height: 100px;
        width: 100px;
        float: left;
        margin-right: 1em;
    }

    .updates_text {

        margin-left: 100px;

    }



}


.updates_grid__item-selected {


    margin-bottom: 1em;

    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
        clear: both;
        margin-left: 0;

    }

    &:nth-child(2n + 2) {
        clear: none;
        margin-left: gutter(of 10);

    }

    @include breakpoint($small) {
        float: left;
        width: span(5 of 10);

        &:nth-child(2n + 1) {
            clear: both;
            margin-left: 0;

        }

        &:nth-child(2n + 2) {
            clear: none;
            margin-left: gutter(of 10);

        }
    }

    @include breakpoint($medium) {
        margin-left: 0;
        margin-right: 0;

        width: span(2 of 6);

        &:nth-child(3n + 1) {
            clear: none;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(1 of 12);
        }


        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(1 of 12);
            margin-right: 0;
        }

    }

    .page__meta {
        margin: 0 0 4px;
        font-size: 0.6em;
    }

    .updates__item-title {
        margin-top: 0.5em;
        font-size: $type-size-7;
    }

    .updates__item-excerpt {
        font-size: $type-size-8;

        @include breakpoint($medium) {
            display: block;
            font-size: $type-size-8;
        }
    }

    .updates__item-teaser {

        height: 20vh;


        @include breakpoint($small) {

            height: 250px;
        }

        @include breakpoint($medium) {
            height: 200px;
        }


    }

}

/*
   Features
   ========================================================================== */

.feature__wrapper {
    @include clearfix();
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;

    .updates__item-title {
        margin-bottom: 0;
    }
}

.feature__item {
    position: relative;
    margin-bottom: 2em;
    font-size: 1.125em;

    @include breakpoint($small) {
        float: left;
        margin-bottom: 0;
        width: span(4 of 12);

        &:nth-child(3n + 1) {
            clear: both;
            margin-left: 0;
        }

        &:nth-child(3n + 2) {
            clear: none;
            margin-left: gutter(of 12);
        }

        &:nth-child(3n + 3) {
            clear: none;
            margin-left: gutter(of 12);
        }

        .feature__item-teaser {
            max-height: 200px;
            overflow: hidden;
        }
    }

    .updates__item-body {
        padding-left: gutter(1 of 12);
        padding-right: gutter(1 of 12);
    }

    a.btn::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &--left {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .updates__item {
            float: left;
        }

        .updates__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            .updates__item-teaser {
                float: left;
                width: span(5 of 12);
            }

            .updates__item-body {
                float: right;
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
                width: span(7 of 12);
            }
        }
    }

    &--right {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .updates__item {
            float: left;
        }

        .updates__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: right;

            .updates__item-teaser {
                float: right;
                width: span(5 of 12);
            }

            .updates__item-body {
                float: left;
                width: span(7 of 12);
                padding-left: gutter(0.5 of 12);
                padding-right: gutter(1 of 12);
            }
        }
    }

    &--center {
        position: relative;
        float: left;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        clear: both;
        font-size: 1.125em;

        .updates__item {
            float: left;
            width: 100%;

        }

        .updates__item-teaser {
            margin-bottom: 2em;
        }

        a.btn::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @include breakpoint($small) {
            text-align: center;

            .updates__item-teaser {
                margin: 0 auto;
                width: span(5 of 12);
            }

            .updates__item-body {
                margin: 0 auto;
                width: span(7 of 12);
            }
        }
    }
}

.updates {
    .feature__wrapper {
        .updates__item-title {
            margin-top: 0.25em;
            font-size: 1em;
        }
    }

    .feature__item,
    .feature__item--left,
    .feature__item--center,
    .feature__item--right {
        font-size: 1em;
    }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
    .updates {
        @include breakpoint($large) {
            padding-right: 0;
        }

        @include breakpoint($x-large) {
            padding-right: 0;
        }
    }
}

/* Place inside a single layout */

.layout--single {
    .feature__wrapper {
        display: inline-block;
    }
}
